/*
    Document   : eshackday
    Created on : Mar 28, 2012, 2:43:43 PM
    Author     : dchancogne
    Description:
        Purpose of the stylesheet follows.
*/

.influencer {
   margin-bottom: 15px;
}
